body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  max-width: 100vw;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

h1 span {
  color: #023e8a;
}

footer {
  text-align: right;
  color: midnightblue;
}



img.tile-image{
  height: 200px;
  float: left;
  margin-right: 6%;
}

.card{
  width: 45%;
}

.left{
  float: left;
}

.right{
  float: right;
}


div.left.card{
  margin-right: 8%;
}



@media (max-width: 665px){
  .card {
    display: block;
    width: 100%;
    margin: 10px 0px;
  }

  img.tile-image{
    width: 100%;
    height: 300px;
  }

  .logo {
    height: 25px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }

}